body {
  background-color: #3a5181;
}


.bg-escolhido {
  width: 900px;
  height: 700px;
  box-shadow: 30px -5px 6px #0000003a;
  z-index: 10 ;
}
.bg-segundary {
  z-index: 0 ;
  box-shadow: 60px 7px 6px #0000003a;
  margin-right: -400px;
  background: #BC8C4E;
}
.bg-segundary-segundary {
  
  box-shadow: 60px 6px 3px #0000003a;
  z-index: -1 ;
  margin-left: -400px;
  background: #505050;
  
}

.EME-0 {
  padding-left: 23%!important;
}
.mt-0 {
  margin-top: 15%!important;
}
.w-60 {
  width: 60%!important;
}

.mt-00 {
  margin-top: 22%!important;
}
.ms-0 {
  margin-left: 75%!important;
}

.box {
  
  width: 70%!important;
  background-color:#473823;
}

.colorPadrao {
  background-color: #473823;
}




/* ANIMAÇÃO CORES */


.revertCor {
  background-color: #505050;
  transition: background-color;
  transition-duration: 1,5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}




/* ANIMAÇÃO CORES */
