#button {
  position: relative;

  animation-name: ladoUM;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes ladoUM {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 600px;
    top: 0;
  }
  50% {
    left: 600px;
    top: 600px;
  }
  75% {
    left: 0;
    top: 600px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}